<h1>All Breweries</h1>

<% @breweries.each do |brewery| %>
  <h3><%= brewery.name %></h3>
  <p><b>Created at:</b> <%= brewery.created_at %><p>
<% end %>

<%= link_to 'New Brewery', '/breweries/new' %>
